.songSummary {
  display: flex;
  margin: 0.5rem 0;
}

.jacket {
  background-color: #000;
  flex-shrink: 0;
  height: 80px;
  width: 80px;
}

.details {
  margin-left: 0.5rem;
  overflow-x: hidden;
}

.title {
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  overflow-x: hidden;
}

.title div {
  display: inline-block;
  min-width: 100%;
  white-space: nowrap;

  animation-name: marquee;
  animation-duration: 5s;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes marquee {
  0% {
    margin-left: 0%;
    transform: translateX(0%);
  }
  10% {
    margin-left: 0%;
    transform: translateX(0%);
  }
  90% {
    margin-left: 100%;
    transform: translateX(-100%);
  }
  100% {
    margin-left: 100%;
    transform: translateX(-100%);
  }
}

.artist {
  font-size: 0.6em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}


.level {
  font-size: 0.8em;
  display: inline-block;
  background-color: var(--level-color, #AE328F);
  border-radius: 3px;
  padding: 0 0.25rem;
  margin-right: 0.5rem;
}

.level[data-difficulty=BAS] {
  --level-color: #7A9D2F;
}

.level[data-difficulty=ADV] {
  --level-color: #0096E0;
}

.level[data-difficulty=EXT] {
  --level-color: #E00000;
}

.level[data-unavailable=true] {
  --level-color: #767A7F;
}
